%p#notice= notice

%p
  %b Name:
  = @album.name
%p
  %b Description:
  = @album.description
%p
  %b Photos:
  - @album.photos.each do |photo|
    .lightbox_content
      = image_tag(photo.photo_path, size: "45x30")
    = link_to #image_tag(photo.photo_path, size: "45x30"), 
    :"data-lightbox" => ".lightbox_content"
    -#= image_tag(photo.photo_path, size: "45x30") 
= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
