%p#notice= notice

%p
  %h2= @album.name
%p
  %h3= @album.description
%p
  - @album.photos.each do |photo|
    %div{:style => "float: left; padding-left: 15px; padding-bottom: 15px;"}
      .lightbox_content
        = link_to image_tag(photo.photo_path, size: "540x360"), photo.photo_path
      -#= link_to #image_tag(photo.photo_path, size: "45x30"), 
      -#:"data-lightbox" => ".lightbox_content"
      -#= image_tag(photo.photo_path, size: "45x30") 
%div{:style => "clear: both;"}
= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Photos', album_photos_path(@album)
\|
= link_to 'New Photo', new_album_photo_path(@album)
\|
= link_to 'Destroy', @album, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'New Album', new_album_path
\|
= link_to 'Back', albums_path
