%p#notice= notice
%h1 Pi Settings
%p
  %h3= @pi_setting.display ? "Display On" : "Display Off"
  %h3= @pi_setting.capture ? "Capture On" : "Capture Off"
%p
  -#%h3 Album:
  -#%h3= @pi_setting.album

= link_to 'Edit', edit_pi_setting_path(@pi_setting)
\|
= link_to 'Back', pi_settings_path
