= simple_form_for([@album, @photo], :html => {:multipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.hidden_field :timestamp
    = f.input :description
    = f.select :album_id, Album.find(:all).collect {|a| [a.name, a.id]}
  .form-fields
    = f.file_field :photo_file
  .form-actions
    = f.button :submit
  
