%p#notice= notice

%p
  %b Title:
  = @photo.title
%p
  %b Timestamp:
  = @photo.timestamp
%p
  %b In Album:
  = link_to @photo.album.name #@photo.photo_file
  -#= @photo.album_id
%p
  %b Description:
  = @photo.description
%p
  %b Photo:
  = image_tag @photo.photo_path
= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
\|
= link_to 'Albums', albums_photo_path(@photo)
